.board {
  padding-left: 280px;
  height: 100%;
  .board-container {
    height: inherit;
    display: flex;
    .todo-container {
      margin-right: 0.5rem;
      display: flex;
      flex-direction: column;
      border-radius: 0.125rem;
      --bg-opacity: 1;
      background-color: #f4f5f7;
      background-color: rgba(244, 245, 247, var(--bg-opacity));
      flex-shrink: 0;
      width: calc(100% / 4 - 8px);
      min-height: 400px;
      min-width: 200px;
      .status-list {
        margin-right: 0.5rem;
        display: flex;
        flex-direction: column;
        height: 100%;
        border-radius: 0.125rem;
        --bg-opacity: 1;
        background-color: #f4f5f7;
        background-color: rgba(244, 245, 247, var(--bg-opacity));
        flex-shrink: 0;
        padding-bottom: 20px;
      }
    }
  }
}
