<app-left-nav></app-left-nav>

<div class="content-section implementation board">

  <p-breadcrumb [model]="items"></p-breadcrumb>
  <app-header [title]="title"></app-header>
  <input type="text" #input />
  <div class="board-container">
    <div class="board-middle-container">
      <!---Todo---->
      <div class="todo-container">
        <div class="status-list">
          <div class="status-text">
            ToDo
            <span class="lowercase-text"> 3 </span>
          </div>
          <div
            id="To Do"
            cdkDropList
            #todoList="cdkDropList"
            [cdkDropListData]="toDo"
            [cdkDropListConnectedTo]="[
              inProgressList,
              functionalReviewList,
              doneList
            ]"
            (cdkDropListDropped)="drop($event)"
          >
            <div class="example-box" *ngFor="let item of toDo" cdkDrag>
              <div class="issue-wrap">
                <div class="issue">
                  <p class="text-dark">{{ item.title }}</p>
                  <div class="flex-items">
                    <div class="avatar"></div>
                    <span class="story-type"
                      >{{ item.type }}-{{ item.id.substring(0, 3) }}</span
                    >
                  </div>
                  <div class="flex-items" style="margin-left: unset"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--InProgress-->
      <div class="todo-container">
        <div class="status-list">
          <div class="status-text">
            Dev In Progress
            <span class="lowercase-text"> 3 </span>
          </div>
          <div
            id="In Progress"
            cdkDropList
            #inProgressList="cdkDropList"
            [cdkDropListData]="inProgress"
            [cdkDropListConnectedTo]="[
              todoList,
              functionalReviewList,
              doneList
            ]"
            (cdkDropListDropped)="drop($event)"
          >
            <div class="example-box" *ngFor="let item of inProgress" cdkDrag>
              <div class="issue-wrap">
                <div class="issue">
                  <p class="text-dark">{{ item.title }}</p>
                  <div class="flex-items">
                    <div class="avatar"></div>
                    <span class="story-type"
                      >{{ item.type }}-{{ item.id.substring(0, 3) }}</span
                    >
                  </div>
                  <div class="flex-items" style="margin-left: unset"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--Functional Review--->
      <div class="todo-container">
        <div class="status-list">
          <div class="status-text">
            Functional Review
            <span class="lowercase-text"> 3 </span>
          </div>
          <div
            cdkDropList
            id="Functional Review"
            #functionalReviewList="cdkDropList"
            [cdkDropListData]="functionalReview"
            [cdkDropListConnectedTo]="[
              todoList,
              inProgressList,
              doneList
            ]"
            (cdkDropListDropped)="drop($event)"
          >
            <div
              class="example-box"
              *ngFor="let item of functionalReview"
              cdkDrag
            >
              <div class="issue-wrap">
                <div class="issue">
                  <p class="text-dark">{{ item.title }}</p>
                  <div class="flex-items">
                    <div class="avatar"></div>
                    <span class="story-type"
                      >{{ item.type }}-{{ item.id.substring(0, 3) }}</span
                    >
                  </div>
                  <div class="flex-items" style="margin-left: unset"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!---Blocked-->
      <!-- <div class="todo-container">
        <div class="status-list">
          <div class="status-text">
            Blocked
            <span class="lowercase-text"> 3 </span>
          </div>
          <div
            id="BLOCKED"
            cdkDropList
            #blockedList="cdkDropList"
            [cdkDropListData]="blocked"
            [cdkDropListConnectedTo]="[
              todoList,
              inProgressList,
              functionalReviewList,
              qaList,
              doneList
            ]"
            (cdkDropListDropped)="drop($event)"
          >
            <div class="example-box" *ngFor="let item of blocked" cdkDrag>
              <div class="issue-wrap">
                <div class="issue">
                  <p class="text-dark">{{ item.title }}</p>
                  <div class="flex-items">
                    <div class="avatar"></div>
                    <span class="story-type"
                      >{{ item.type }}-{{ item.id}</span
                    >
                  </div>
                  <div class="flex-items" style="margin-left: unset"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->

      <!---QA-->
      <!-- <div class="todo-container">
        <div class="status-list">
          <div class="status-text">
            QA
            <span class="lowercase-text"> 3 </span>
          </div>
          <div
            id="QA"
            cdkDropList
            #qaList="cdkDropList"
            [cdkDropListData]="qa"
            [cdkDropListConnectedTo]="[
              todoList,
              inProgressList,
              functionalReviewList,
              blockedList,
              doneList
            ]"
            (cdkDropListDropped)="drop($event)"
          >
            <div class="example-box" *ngFor="let item of qa" cdkDrag>
              <div class="issue-wrap">
                <div class="issue">
                  <p class="text-dark">{{ item.title }}</p>
                  <div class="flex-items">
                    <div class="avatar"></div>
                    <span class="story-type"
                      >{{ item.type }}-{{ item.id.substring(0, 3) }}</span
                    >
                  </div>
                  <div class="flex-items" style="margin-left: unset"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->

      <div class="todo-container">
        <div class="status-list">
          <div class="status-text">
            Done
            <span class="lowercase-text"> 3 </span>
          </div>
          <div
            id="Done"
            cdkDropList
            #doneList="cdkDropList"
            [cdkDropListData]="done"
            [cdkDropListConnectedTo]="[
              todoList,
              inProgressList,
              functionalReviewList,
            ]"
            (cdkDropListDropped)="drop($event)"
          >
            <div class="example-box" *ngFor="let item of done" cdkDrag>
              <div class="issue-wrap">
                <div class="issue">
                  <p class="text-dark">{{ item.title }}</p>
                  <div class="flex-items">
                    <div class="avatar"></div>
                    <span class="story-type"
                      >{{ item.type }}-{{ item.id.substring(0, 3) }}</span
                    >
                  </div>
                  <div class="flex-items" style="margin-left: unset"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
