<app-left-nav></app-left-nav>
<div class="content-section implementation board">
  <div class="board-container">
    <div class="board-middle-container">
      <!---Todo---->
      <div class="todo-container">
        <div class="status-list">
          <div class="status-text">
            ToDo
            <span class="lowercase-text"> 3 </span>
          </div>
          <div
            cdkDropList
            #todoList="cdkDropList"
            [cdkDropListData]="toDo"
            [cdkDropListConnectedTo]="[
              inProgressList,
              blockedList,
              functionalReviewList,
              qaList,
              doneList
            ]"
            (cdkDropListDropped)="drop($event)"
          >
            <div class="example-box" *ngFor="let item of toDo" cdkDrag>
              <p-card>
                <p style="color: white">p</p>
              </p-card>
            </div>
          </div>
        </div>
      </div>

      <!--InProgress-->
      <div class="todo-container">
        <div class="status-list">
          <div class="status-text">
            Dev In Progress
            <span class="lowercase-text"> 3 </span>
          </div>
          <div
            cdkDropList
            #inProgressList="cdkDropList"
            [cdkDropListData]="inProgress"
            [cdkDropListConnectedTo]="[
              todoList,
              blockedList,
              functionalReviewList,
              qaList,
              doneList
            ]"
            (cdkDropListDropped)="drop($event)"
          >
            <div class="example-box" *ngFor="let item of inProgress" cdkDrag>
              <p-card>
                <p style="color: white">In Progress</p>
              </p-card>
            </div>
          </div>
        </div>
      </div>

      <!--Functional Review--->
      <div class="todo-container">
        <div class="status-list">
          <div class="status-text">
            Functional Review
            <span class="lowercase-text"> 3 </span>
          </div>
          <div
            cdkDropList
            #functionalReviewList="cdkDropList"
            [cdkDropListData]="functionalReview"
            [cdkDropListConnectedTo]="[
              todoList,
              inProgressList,
              blockedList,
              qaList,
              doneList
            ]"
            (cdkDropListDropped)="drop($event)"
          >
            <div
              class="example-box"
              *ngFor="let item of functionalReview"
              cdkDrag
            >
              <p-card>
                <p style="color: white">Functional review</p>
              </p-card>
            </div>
          </div>
        </div>
      </div>

      <!---Blocked-->
      <div class="todo-container">
        <div class="status-list">
          <div class="status-text">
            Blocked
            <span class="lowercase-text"> 3 </span>
          </div>
          <div
            cdkDropList
            #blockedList="cdkDropList"
            [cdkDropListData]="blocked"
            [cdkDropListConnectedTo]="[
              todoList,
              inProgressList,
              functionalReviewList,
              qaList,
              doneList
            ]"
            (cdkDropListDropped)="drop($event)"
          >
            <div class="example-box" *ngFor="let item of blocked" cdkDrag>
              <p-card>
                <p style="color: white">{{ item }}</p>
              </p-card>
            </div>
          </div>
        </div>
      </div>

      <!---QA-->
      <div class="todo-container">
        <div class="status-list">
          <div class="status-text">
            QA
            <span class="lowercase-text"> 3 </span>
          </div>
          <div
            cdkDropList
            #qaList="cdkDropList"
            [cdkDropListData]="qa"
            [cdkDropListConnectedTo]="[
              todoList,
              inProgressList,
              functionalReviewList,
              blockedList,
              doneList
            ]"
            (cdkDropListDropped)="drop($event)"
          >
            <div class="example-box" *ngFor="let item of qa" cdkDrag>
              <p-card>
                <p style="color: white">{{ item }}</p>
              </p-card>
            </div>
          </div>
        </div>
      </div>

      <div class="todo-container">
        <div class="status-list">
          <div class="status-text">
            Done
            <span class="lowercase-text"> 3 </span>
          </div>
          <div
            cdkDropList
            #doneList="cdkDropList"
            [cdkDropListData]="done"
            [cdkDropListConnectedTo]="[
              todoList,
              inProgressList,
              functionalReviewList,
              blockedList,
              qaList
            ]"
            (cdkDropListDropped)="drop($event)"
          >
            <div class="example-box" *ngFor="let item of done" cdkDrag>
              <p-card>
                <p style="color: white">Done</p>
              </p-card>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
